.banner__image__one{
    background-image: url("../images/5.jpg");
   height: 100vh;
   width: auto;  
}
.banner__image__two{
    background-image: url("../images/3.jpg");
   height: 100vh;
   width: auto; 
   background-repeat: no-repeat; 
}
.banner__image__three{
    background-image: url("../images/5.jpg");
   height: 100vh;
   width: auto;  
}


.banton{
    margin-left: 200px;
    
}

.c-text-description{
    color: #6C6C6C;
}